
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    width: 70px;
    height: 70px;
      background-color: rgb(22, 5, 51);
      margin: 50px 20px;
      padding: 5px;
      font-size: 30px;
      color: aliceblue;
      border: 7px groove rgb(212, 158, 10);
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #section_1{
    width: 90%;
    background-color: blanchedalmond;
    padding: 2%;
    border: .5em;
    margin: 2% auto;
   

  }
  .div_1{
    width: 60%;
    padding:2%;
    margin: 2% auto;
    background-color:skyblue;
    border: .5em solid rgb(8, 3, 64);
    height: 300px;
    border-radius: 5px;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }