

/* box-sizing: border-box; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    width: 70px;
    height: 70px;
      background-color: rgb(22, 5, 51);
      margin: 50px 20px;
      padding: 5px;
      font-size: 30px;
      color: aliceblue;
      border: 7px groove rgb(212, 158, 10);
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.div_1{
    width: 300px;
    background-color: floralwhite;
    margin: 20px;
    padding: 20px;
    border: 10px solid rgb(243, 162, 12);
    box-sizing: border-box;
    float: left;
}

.div_2{
    width: 96%;
    background-color: floralwhite;
    margin: 2%;
    padding: 2%;
    border: .5em solid rgb(243, 162, 12);
    box-sizing: border-box;
    float: left;
}